html {
  font-family: sans-serif;
}

/* Your CSS below here */
.box {
  width: 200px;
  height: 200px;
  /* position: center; */
  font-size: 1.125em;
  text-align: center;
  background-color: red;
  color: white;
  border: 1px solid darkred;
}
